/*membuat tombol dengan sudut tumpul*/
.tombol{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 7px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.tombol:hover {
    opacity: 0.8;
}
.tombol:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.tombol:focus {
    outline: 0;
}
.tombol:disabled {
    background-color: #4CAF50;
    color: #ccc;
}
.tombol:disabled:hover {
    background-color: #4CAF50;
    color: #ccc;
}
.tombol:disabled:active {
    background-color: #4CAF50;
    color: #ccc;
}
.tombol:disabled:focus {
    background-color: #4CAF50;
    color: #ccc;
}
/* membuat animasi di tombol */
.tombol:hover {
    animation: animatezation 0.5s;
}
@keyframes animatezation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/*membuat animasi gambar baru masuk dari bawah ke atas tansisi dari blur ke asli*/
.animasi_masuk_web{
    animation: animasi_masuk_web 1s;
}
@keyframes animasi_masuk_web {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*membuat animasi dari atas ke bawah pada navbar transisi dari blur ke asli*/
.animasi_navbar{
    animation: animasi_navbar 1s;
}
@keyframes animasi_navbar {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*membuat tampilan jam dijital berserta bingkainya*/
#jam_dijital{
    font-size: 50px;
    color: #4CAF50;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
